@import url(main.css);
@import url(layout.css);

body {
  font-family: 'Fira Code', monospace;
}

#ui {
  padding: 32px;
}

#ui .slider {
  display: flex;
  flex-direction: row;
}

#ui .slider > * + * {
  margin-left: 8px;
}

#ui input[type=text] {
  appearance: none;
  border: unset;
  background-color: unset;
  font-family: unset;
}